
    <%- include("header")  -%>
    
        <h1 class="text-5xl tracking-widest bg-fuchsia-600 text-white font-sans">Hello world</h1>
        <div class="bg-gr">
            It's PC
        </div>
        <div class="text-center tracking-tightest text-2xl text-slate-700 bg-purple-500">
LIFESTYLE
        </div>

    <%- include("footer")  -%>
